# ====== DOCKER ======
DB_HOST=localhost
DB_PORT=5432
DB_USER=admin
DB_PASS=password
DB_NAME=db

# ====== BACKEND======
JWT_SECRET=senha_super_secreta_aqui

# ====== FRONTEND ======
VITE_API_URL=http://localhost:8080