# ====== BACKEND======
JWT_SECRET=senha_super_secreta_aqui
DATABASE_URL=postgres://admin:password@127.0.0.1:5453/db?sslmode=disable

# ====== DOCKER ======
POSTGRES_USER=admin
POSTGRES_PASSWORD=password
POSTGRES_DB=db

# ====== FRONTEND ======
VITE_API_URL=http://localhost:8080